h1{
    background-color: cornsilk;
    color: burlywood;
    text-shadow: 2px 2px 5px burlywood;
    width:800px;
    text-align:center;
  }
  body{
    background-color: bisque;
  }
  input[type=text] {
    width: 70%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  input[type=text]:focus {
    border: 3px solid #555;
  }
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-weight: bold;
  }
  input[type=submit] {
    background-color: burlywood;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  input[type=submit]:hover {
    background-color: brown;
  }
  